extends ../base

block main
    .container
        .about
            .about__left-block
                picture
                    source(media='(max-width: 768px)', srcset='../../images/about/about-jade-mobile.png')
                    img.about__img(src='../../images/about/about-jade.png')
            .about__right-block.right-block
                .right-block__container
                    h1.right-block__title ABOUT JADE
                    p.right-block__paragraph I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page.
                    p.right-block__paragraph ​
                    p.right-block__paragraph This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company.
                    h2.right-block__subtitle.right-block__subtitle_education Education:
                    p.right-block__paragraph I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.
                    h2.right-block__subtitle.right-block__subtitle_awards Awards & Nominations:
                    p.right-block__paragraph I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.
