//--------------------------------CONNECTING FONTS--------------------------------------------------------------------------------------------

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: local('Avenir'), url(../../fonts/Avenir-Light.woff2),
    url(../../fonts/Avenir-Light.woff), url(../../fonts/Avenir-Light.ttf),
    url(../../fonts/Avenir-Light.eot);
}
