//rgb(48,49,49)
$main-text-color: #303131;

$second-text-color: #141d27;

$active-link-color: #8b98a7;

$transition-input: all 0.5s ease;

$cinzel-font: 'Cinzel', serif, Arial, Helvetica, sans-serif;
