@import "./mixins";
@import "./variables";

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Nunito", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #303131;
}

body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
button,
input,
svg,
span {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.page {
  width: 100%;
  &-wrapper {
    max-width: 1920px;
    height: auto;
    margin: 0 auto;
  }
  &__header {
    width: 100%;
    height: 103px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 1;
  }
  &__content {
    width: calc(100% - 160px);
    height: auto;
    margin: 0 auto;
    margin-top: 103px;
  }
  &__footer {
    width: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #fff;

  &__signature {
    height: 40px;
    min-height: 36px;
    width: 144px;
    margin-top: 42px;
    margin-left: 80px;
  }
  &__nav-up {
    width: 754px;
    height: 50px;
    margin-top: 31px;
    margin-right: 48px;
  }
}

.signature {
  &__link {
    font-size: 26px;
    line-height: 40px;
    font-family: "Cinzel", serif;
    color: $main-text-color;
    letter-spacing: 6px;
    width: 100%;
    text-transform: uppercase;
  }
}

.nav-up {
  &__list {
    height: 100%;
    width: 100%;
    display: flex;
  }
  &__item {
    flex-grow: 1;
  }
  &__link {
    @include analog-avenir-light;
    @include normalize-to-block;
    line-height: 50px;
    color: $main-text-color;
    height: 100%;
    text-align: center;
    transition: color 0.4s ease 0s;
    &:hover {
      color: $active-link-color;
    }
    &_home {
      color: $active-link-color;
    }
    &_portfolio-page {
      color: $active-link-color;
    }
    &_about-page {
      color: $active-link-color;
    }
    &_books-page {
      color: $active-link-color;
    }
    &_blog {
      color: $active-link-color;
    }
  }
}

.view-button {
  height: 40px;
  &__link {
    @include analog-avenir-light;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    &:hover {
      background-color: #273a4e;
      border-color: #273a4e;
    }
    &_buy {
      border: 1px solid $main-text-color;
      color: #141d27;
      transition: color 0.4s ease 0s, border-color 0.4s ease 0s,
        background-color 0.4s ease 0s;
      &:hover {
        color: #fff;
      }
    }
  }
}

.footer {
  padding: 50px 0 25px;
  &__social-bar {
    width: 168px;
    height: 24px;
    margin: 0 auto;
  }
  &__copyright {
    width: 740px;
    margin: 15px auto 0;
  }
}

.social-bar {
  &__list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  &__item {
    width: 24px;
    height: 24px;
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    @include normalize-to-block;
  }
  &__img {
    @include normalize-to-block;
  }
}

.copyright {
  &__note {
    @include analog-avenir-light;
    width: 100%;
    text-align: center;
    color: $main-text-color;
    line-height: 24px;
  }
  &__link {
    color: #000;
  }
}

.common-title {
  width: 100%;
  height: 114px;
  display: flex;
  align-items: center;

  &__title {
    font-size: 40px;
    line-height: 48px;
    font-family: "Cinzel", serif;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
  }
}
