@import './mixins';
@import './variables';

.content {
  &__blog {
    width: 100%;
  }
}

.blog {
  &__container {
    width: 100%;
    background-color: #f0f3f6;
  }
  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0 auto;
    width: 100%;
    max-width: 980px;
    padding: 0 20px;
  }
  &__posts {
    margin: 0 auto;
    width: 100%;
    max-width: 972px;
  }
}

.search {
  &__all-posts {
    color: #141d27;
  }
  &__blog {
    display: none;
  }
  &__input-block {
    margin-right: 16px;
    height: 16px;
    position: relative;
  }
}

.input-block {
  &__container {
    transition: $transition-input;
    &.open {
      width: 200px;
    }
  }
  &__dandruff {
    fill: $main-text-color;
    position: absolute;
    top: 0;
    right: 0;
    &.open {
      right: initial;
    }
  }
  &__input {
    display: none;
    &.open {
      outline: none;
      top: 0;
      left: 0;
      margin: 0;
      width: 100%;
      height: 20px;
      border: 0;
      border-radius: 0;
      padding: 1px 0 0 29px;
      font-size: 16px;
      background: transparent;
      transition: $transition-input;
      display: inline-block;
      color: $main-text-color;
      padding-right: 20px;
      font-weight: 300;
      &::placeholder {
        color: rgb(189, 182, 182);
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 1px;
      }
    }
  }
  &__background {
    transition: $transition-input;
    height: 5px;
    visibility: hidden;
  }
  &__underline {
    opacity: 0;
    &.open {
      height: 1px;
      background-color: $main-text-color;
      transition: $transition-input;
      opacity: 0.5;
    }
  }
  &__btn {
    display: none;
    &.open {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto -5px auto 0;
      border: 0;
      width: 20px;
      height: 20px;
      background: transparent;
      cursor: pointer;
      outline: none;
    }
  }
  &__cross {
    fill: $main-text-color;
    opacity: 0.8;
  }
}

.post {
  width: 100%;
  padding: 16px;
  &__wrapper {
    display: flex;
    height: 351px;
  }
  &__img-block {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    position: relative;
  }
  &__img-link {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &__img {
    @include normalize-to-block;
  }
  &__description {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 48px 37px;
    background-color: #fff;
  }
  &__header-and-text {
    display: flex;
    flex-direction: column;
  }
}

.publication-info {
  display: flex;
  align-items: center;
  height: 34px;
  &__wrapper {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
  }
  &__icon {
    width: 32px;
    height: 32px;
    background: url('../img/blog-icon-i.png') 50% / cover no-repeat;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  &__block {
    padding-left: 10px;
    font-size: 12px !important;
    display: flex;
    flex-direction: column;
  }
  &__author {
    height: 19px;
  }
  &__share {
    width: 24px;
    height: 24px;
    margin: 0 -9px 0 0;
  }
}

.author {
  display: flex;
  align-items: center;
  &__name {
    font-weight: normal;
  }
  &__icon {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__svg {
    fill: $main-text-color;
  }
}

.time {
  display: flex;
  align-items: center;
  opacity: 0.8;
  font-weight: normal;
  &__separator {
    background-color: $main-text-color;
    width: 2px;
    height: 2px;
    margin: 0 8px;
    border-radius: 50%;
    display: flex;
    align-self: center;
  }
}

.share {
  display: flex;
  justify-content: center;
  &__btn {
    font-size: 0;
    border: none;
    background: transparent;
    outline: none;
  }
  &__svg {
    fill: $main-text-color;
  }
}

.publication-text {
  margin-top: 18px;
  &__header {
    font-family: 'Cinzel', serif;
    font-size: 28px;
    color: $main-text-color;
    font-weight: normal;
    line-height: normal;
  }
  &__content {
    color: $main-text-color;
    margin-top: 12px;
    line-height: 1.5rem;
    opacity: 0.9;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
}

.publication-footer {
  &__line {
    width: 100%;
    height: 1px;
    background-color: $main-text-color;
    opacity: 0.2;
    margin-bottom: 15px;
  }
  &__activity {
    display: flex;
    justify-content: space-between;
    height: 18px;
    font-size: 12px;
    font-weight: normal;
  }
  &__views-comments {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0.9;
  }
  &__views-icon {
    display: none;
  }
  &__views {
    margin-left: 6px;
  }
  &__comments {
    margin-left: 16px;
    color: $main-text-color;
  }
  &__likes {
    display: flex;
    align-items: center;
  }
  &__likes-count {
    display: none;
    transition: all 0.3s ease;
    &.like {
      display: block;
      padding-right: 5px;
    }
  }
  &__like-btn {
    font-size: 0;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  &__svg {
    fill: transparent;
    stroke: #e84a43;
    stroke-width: 1.5px;
    transition: fill 0.3s ease;
    &.like {
      fill: #e84a43;
    }
  }
}

@media (max-width: 415px) {
  .blog {
    &__search {
      background-color: #273a4e;
    }
  }

  .search {
    &__all-posts {
      display: none;
    }
    &__blog {
      display: initial;
      color: #fff;
      font-weight: normal;
      font-size: 1.25rem;
    }
  }

  .post {
    padding: 0;
    &__wrapper {
      display: initial;
      height: auto;
      width: 100%;
    }
    &__img-block {
      width: 100%;
      height: auto;
    }
    &__img {
      @include normalize-to-block;
    }
    &__img-link {
      top: 0;
    }
    &__description {
      padding: 30px 20px;
    }
    &__header-and-text {
      padding-bottom: 18px;
    }
  }

  .publication-text {
    &__header {
      line-height: 1.4em;
    }
  }

  .publication-footer {
    display: flex;
    flex-wrap: wrap;
    &__line {
      order: 1;
      margin: 18px 0 0 0;
    }
    &__activity {
      width: 100%;
    }
    &__views-icon {
      display: initial;
      height: 100%;
    }
    &__views-svg {
      fill: #303131;
    }
    &__views-count {
      margin-left: 6px;
    }
    &__views {
      display: none;
    }
  }
}
