@import './mixins';
@import './variables';

.content {
  &__books {
    width: 100%;
    min-width: 980px;
  }
}

.books {
  &__goods {
    width: 100%;
    height: 720px;
    margin-top: 15px;
    background-color: #f0f3f6;
    position: relative;
    overflow: hidden;
    &:nth-child(2) {
      margin-top: 0;
    }
  }
}

.goods {
  &__container {
    width: 438px;
    height: 100%;
    position: relative;
    left: 35px;
    margin-left: calc((100% - 980px) * 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    font-family: 'Cinzel', serif;
    font-size: 4rem;
    font-weight: normal;
    line-height: 4.4rem;
    color: #141d27;
  }
  &__description {
    @include analog-avenir-light;
    width: 355px;
    margin-top: 20px;
    line-height: 1.5rem;
  }
  &__price-container {
    margin-top: 28px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
  }
  &__price {
    font-family: 'Cinzel', serif;
    font-size: 4rem;
    letter-spacing: 0.1em;
    color: #141d27;
  }
  &__currency {
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    color: #141d27;
    position: absolute;
    top: 0;
    left: 85px;
  }
  &__view-button {
    width: 135px;
    margin-left: 122px;
  }
  &__img-block {
    width: 600px;
    height: 438px;
    position: absolute;
    margin: 141px 0px 0px calc((100% - 980px) * 0.5);
    left: 478px;
    top: 0;
  }
  &__img {
    object-position: 50% 50%;
    width: 600px;
    height: 438px;
    object-fit: cover;
  }
}
