@import './mixins';
@import './variables';

.content {
  &__contact {
    width: 100%;
    min-width: 980px;
  }
}

.contact {
  display: flex;
  &__img-block {
    min-width: 500px;
    width: 100%;
    flex-grow: 1;
  }
  &__img {
    @include normalize-to-block;
    height: 100%;
    max-height: 1030px;
    object-fit: cover;
    object-position: 50% 50%;
  }
  &__info-block {
    width: 100%;
    flex-grow: 1;
  }
}

.info-block {
  padding: 155px 0 0 20px;
  background-color: #f0f3f6;
  &__description {
    width: 475px;
    margin-left: calc((100% - 480px) * 0.5);
  }
  &__text {
    margin-top: 40px;
    width: 370px;
    line-height: 1.5rem;
  }
  &__mail {
    color: $main-text-color;
  }
}

.contact-form {
  margin-top: 40px;
  width: 380px;
  display: flex;
  flex-direction: column;
  &__label {
    margin-top: 6px;
  }
  &__input {
    height: 33px;
    margin-top: 6px;
  }
  &__textarea {
    height: 126px;
    font-size: 14px;
    line-height: 1.4em;
    margin-top: 6px;
    padding: 0.75em 10px 3px 12px;
    border: 1px solid rgba(48, 49, 49, 0.55);
    resize: none;
    font-family: 'Nunito', sans-serif;
    color: $main-text-color;
    background-color: #f0f3f6;
    outline: none;
    &::placeholder {
      font-weight: 300;
    }
    &:hover {
      border-width: 3px;
    }
    &:focus {
      border-width: 3px;
    }
  }
  &__btn {
    width: 102px;
    height: 33px;
    margin-top: 9px;
    align-self: flex-end;
  }
  &__message {
    width: 235px;
    margin-top: 6px;
    pointer-events: none;
    align-self: flex-end;
    // visibility: hidden;
  }
  &__thank {
    text-align: right;
  }
}

.form {
  &__label {
    line-height: 1;
  }
  &__input {
    padding: 3px 3px 3px 12px;
    font-size: 14px;
    line-height: 1.4em;
    border: 1px solid rgba(48, 49, 49, 0.55);
    font-family: 'Nunito', sans-serif;
    color: $main-text-color;
    background-color: #f0f3f6;
    outline: none;
    &::placeholder {
      font-weight: 300;
    }
    &:hover {
      border-width: 3px;
    }
    &:focus {
      border-width: 3px;
    }
  }
  &__btn {
    background-color: #273a4e;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    font-family: 'Nunito', sans-serif;
    transition: background-color 0.4s ease 0s;
    &:hover {
      background-color: #5c6b7a;
    }
  }
}

.subscribe-form {
  margin-top: 30px;
  width: 380px;
  display: flex;
  flex-direction: column;
  &__label {
    width: 238px;
    margin-top: 12px;
    font-size: 18px;
  }
  &__input-btn {
    display: flex;
    align-items: center;
    margin-top: 9px;
  }
  &__input {
    width: 238px;
    height: 33px;
  }
  &__btn {
    width: 133px;
    height: 33px;
    margin-left: 8px;
  }
  &__message {
    margin-top: 5px;
  }
}
