doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=320, user-scalable=yes')
    title Home
    link(href='https://fonts.googleapis.com/css?family=Cinzel&display=swap', rel='stylesheet')
  body
    .page
        .page-wrapper

            //--------------------------------CONNECTING HEADER--------------------------------------------------------------------------------------------
            include ../components/header/header

            //--------------------------------PAGE CONTENT--------------------------------------------------------------------------------------------
            main.page__content.content

                block main

                //--------------------------------CONNECTING BUTTON TO UP--------------------------------------------------------------------------------------------
                include ../components/button-to-up/button-to-up
            
            //--------------------------------CONNECTING FOOTER--------------------------------------------------------------------------------------------
            include ../components/footer/footer