extends ../base

block main
    .container
        .inscription-block
            .inscription-block__filter.filter
            .inscription-block__img-block
                img(src="../../images/index/main-bgd-1506x900.png", alt="")
            .inscription-block__text-block
                h1.inscription-block__title The Art of Food
                p.inscription-block__subtitle Photography
                .inscription-block__view-button.view-button
                    a.view-button__link(href='index.html') View More