@import '../../common/sass/mixins';
@import '../../common/sass/variables';

//--------------------------------STYLE TO HIGHLIGHT A LINK TO A PAGE IN THE NAVIGATION BAR--------------------------------------------------------------------------------------------

.nav-up__link_home {
  color: $active-link-color;
}

//--------------------------------STYLES OF THE MAIN PAGE----------------------------------------------------------------------------------------------------------------------------

.content {
  &__inscription-block {
    width: 100%;
    min-height: 900px;
    position: relative;
  }
}

.inscription-block {
  &__img-block {
    background: url('../../images/index/main-bgd-1506x900.png') center
      center/cover no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.65;
  }
  &__text-block {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    color: #fff;
    font-size: 70px;
    font-family: $cinzel-font;
    letter-spacing: 7px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__subtitle {
    color: #fff;
    font-size: 20px;
    letter-spacing: 11px;
    text-transform: uppercase;
  }
  &__view-button {
    height: 40px;
    min-height: 22px;
    width: 142px;
    margin-top: 36px;
  }
}

.filter {
  @include filter;
}

//--------------------------------MEDIA QUERIES----------------------------------------------------------------------------------------------------------------------------

@media (max-width: 415px) {
  .content {
    &__inscription-block {
      min-width: auto;
      min-height: auto;
      height: 441px;
    }
  }

  .inscription-block {
    &__text-block {
      justify-content: initial;
    }
    &__title {
      font-size: 34px;
      width: 230px;
      letter-spacing: 0.2rem;
      text-align: center;
      margin-top: 113px;
    }
    &__subtitle {
      font-size: 14px;
      margin-top: 8px;
      letter-spacing: 0.55em;
    }
    &__view-button {
      height: 45px;
    }
  }
}
