//--------------------------------FOOTER--------------------------------------------------------------------------------------------

footer.footer
  .container
    .footer__social-bar.social-bar
      ul.social-bar__list
        li.social-bar__item
          a.social-bar__link(href='https://www.pinterest.com/wixcom/', target='_blank')
            svg.icon.icon__pinterest
              use(xlink:href='../../images/sprite.svg#pinterest')
        li.social-bar__item
          a.social-bar__link(href='https://www.facebook.com/wix', target='_blank')
            svg.icon.icon__facebook
              use(xlink:href='../../images/sprite.svg#facebook')
        li.social-bar__item
          a.social-bar__link(href='https://twitter.com/wix', target='_blank')
            svg.icon.icon__twitter
              use(xlink:href='../../images/sprite.svg#twitter')
        li.social-bar__item
          a.social-bar__link(href='https://www.instagram.com/wix/', target='_blank')
            svg.icon.icon__instagram
              use(xlink:href='../../images/sprite.svg#instagram')
    .footer__copyright.copyright
      p.copyright__note
        | © 2023 by The Art of Food. Proudly created with 
        a.copyright__link(href='https://uk.wix.com/?utm_campaign=vir_created_with', target='_blank') Wix.com
