@import '../../common/sass/mixins';
@import '../../common/sass/variables';

//--------------------------------FOOTER--------------------------------------------------------------------------------------------

.footer {
  padding: 50px 0 25px;
  &__social-bar {
    width: 168px;
    height: 24px;
    margin: 0 auto;
  }
  &__copyright {
    width: 100%;
    margin: 15px auto 0;
  }
}

.social-bar {
  &__list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  &__item {
    width: 24px;
    height: 24px;
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    @include normalize-to-block;
    height: 100%;
  }
}

.copyright {
  &__note {
    width: 100%;
    text-align: center;
    line-height: 24px;
  }
  &__link {
    color: #000;
  }
}

//--------------------------------MEDIA QUERIES--------------------------------------------------------------------------------------------

@media (max-width: 415px) {
  .footer {
    padding-top: 37px;
    &__copyright {
      width: auto;
    }
  }

  .common-title {
    height: 74px;
    &__title {
      font-size: 30px;
      line-height: 1.2em;
      letter-spacing: 0.05em;
      &_contact {
        font-size: 30px;
      }
    }
  }

  .social-bar {
    width: auto;
    height: auto;
    &__item {
      width: 28px;
      height: 28px;
      margin-right: 18px;
    }
  }

  .copyright {
    &__note {
      width: 245px;
      margin: 0 auto;
    }
  }
}
