//--------------------------------HEADER--------------------------------------------------------------------------------------------

header.page__header.header
  .header__signature.signature
    a.signature__link(href='index.html') J.ALISSA
  .header__menu-toggle.menu-toggle
    .menu-toggle__wrapper
      span.menu-toggle__line.menu-toggle__line_1
      span.menu-toggle__line.menu-toggle__line_2
      span.menu-toggle__line.menu-toggle__line_3
  .header__background
  nav.header__nav-up.nav-up
    ul.nav-up__list
      li.nav-up__item
        a.nav-up__link.nav-up__link_home( href='index.html') Home
      li.nav-up__item
        a.nav-up__link.nav-up__link_portfolio-page(href='portfolio.html') Portfolio
      li.nav-up__item
        a.nav-up__link.nav-up__link_(href='#') About
      li.nav-up__item
        a.nav-up__link.nav-up__link_(href='#') Books
      li.nav-up__item
        a.nav-up__link.nav-up__link_(href='#') Blog
      li.nav-up__item
        a.nav-up__link.nav-up__link_(href='#') Contact
