extends ../base

block main
    .books
        .container
            .books-inner
                .books__common-title.common-title
                    h1.common-title__title books
                article.books__goods.goods
                    .goods__article-left
                        .goods__container
                            h2.goods__title BREAKFASTS
                            p.goods__description I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.
                            .goods__price-container
                                span.goods__price 40
                                span.goods__currency $
                                .goods__view-button.view-button
                                    a.view-button__link.view-button__link_buy(href='https://ru.wix.com/templateslp/links', target='_blank') Buy Now
                    .goods__article-right
                        .goods__img-block
                            img.goods__img(src='../../images/books/books-breakfasts.png', alt='BREAKFASTS')
                article.books__goods.goods
                    .goods__article-left
                        .goods__container
                            h2.goods__title.goods__title_sugar SUGAR & SPICE
                            p.goods__description I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.
                            .goods__price-container
                                span.goods__price 34
                                span.goods__currency $
                                .goods__view-button.view-button
                                    a.view-button__link.view-button__link_buy(href='https://ru.wix.com/templateslp/links', target='_blank') Buy Now
                    .goods__article-right
                        .goods__img-block
                            img.goods__img(src='../../images/books/books-sugar-and-spice.png', alt='SUGAR & SPICE')
                article.books__goods.goods
                    .goods__article-left
                        .goods__container
                            h2.goods__title.goods__title_holiday HOLIDAY SEASON SPECIALS
                            p.goods__description I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.
                            .goods__price-container
                                span.goods__price 25
                                span.goods__currency $
                                .goods__view-button.view-button
                                    a.view-button__link.view-button__link_buy(href='https://ru.wix.com/templateslp/links', target='_blank') Buy Now
                    .goods__article-right
                        .goods__img-block
                            img.goods__img(src='../../images/books/books-seasons.png', alt='HOLIDAY SEASON SPECIALS')
