@import '../../common/sass/mixins';
@import '../../common/sass/variables';

//--------------------------------STYLE TO HIGHLIGHT A LINK TO A PAGE IN THE NAVIGATION BAR--------------------------------------------------------------------------------------------

.nav-up__list .nav-up__link_books {
  color: $active-link-color;
}

//--------------------------------STYLES OF THE BOOKS PAGE----------------------------------------------------------------------------------------------------------------------------

.books {
  width: 100%;
  &__goods {
    display: flex;
    width: 100%;
    height: 720px;
    margin-top: 15px;
    background-color: #f0f3f6;
    position: relative;
    overflow: hidden;
    &:nth-child(2) {
      margin-top: 0;
    }
  }
}

.goods {
  &__article-left {
    width: 50%;
  }
  &__container {
    margin-left: auto;
    margin-right: 75px;
    max-width: 385px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    font-family: $cinzel-font;
    font-size: 4rem;
    font-weight: normal;
    line-height: 4.4rem;
    color: $second-text-color;
  }
  &__description {
    width: 355px;
    margin-top: 20px;
    line-height: 1.5rem;
  }
  &__price-container {
    margin-top: 28px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
  }
  &__price {
    font-family: $cinzel-font;
    font-size: 4rem;
    letter-spacing: 0.1em;
    color: $second-text-color;
  }
  &__currency {
    font-family: $cinzel-font;
    font-size: 1.5rem;
    color: $second-text-color;
    position: absolute;
    top: 0;
    left: 85px;
  }
  &__view-button {
    width: 135px;
    margin-left: 122px;
  }
  &__article-right {
    width: 50%;
    display: flex;
    align-items: center;
  }
  &__img-block {
    width: 600px;
    height: 438px;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

//--------------------------------MEDIA QUERIES----------------------------------------------------------------------------------------------------------------------------

@media (max-width: 1280px) {
  .goods {
    &__container {
      margin-right: 30px;
    }
  }
}

@media (max-width: 992px) {
  .goods {
    height: auto;
    padding: 100px 0;
    &__container {
      padding-left: 20px;
    }
    &__title {
      font-size: calc(36px + ((100vw - 768px) / 8));
      line-height: 1.1em;
    }
    &__description {
      width: 100%;
      max-width: 355px;
    }
    &__price {
      font-size: 2.25rem;
    }
    &__currency {
      left: 52px;
    }
    &__img-block {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
    }
    &__img {
      // object-position: left;
      height: 300px;
    }
  }
}

@media (max-width: 768px) {
  .goods {
    flex-direction: column;
    padding: 50px 0 0 0;
    &__article-left {
      width: 100%;
    }
    &__container {
      margin: 0 auto;
      width: 90%;
      padding: 0;
    }
    &__title {
      font-size: 36px;
    }
    &__article-right {
      width: 100%;
    }
    &__img-block {
      height: auto;
      justify-content: center;
    }
    &__img {
      max-width: 385px;
      height: auto;
    }
  }
}

@media (max-width: 415px) {
  .books {
    & .container {
      padding: 0;
    }
  }

  .goods {
    &__title {
      font-size: 2.25rem;
      &_sugar {
        width: 155px;
      }
      &_holiday {
        width: 231px;
      }
    }
    &__price-container {
      justify-content: space-between;
    }
    &__view-button {
      width: 140px;
      margin-left: 0;
    }
  }
}
