.content__blog {
  width: 100%;
  min-width: 980px;
}

.blog__container {
  width: 100%;
  background-color: #f0f3f6;
}
.blog__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin: 0 auto;
  width: 100%;
  max-width: 980px;
  padding: 0 20px;
}
.blog__posts {
  margin: 0 auto;
  width: 100%;
  max-width: 972px;
}

.search__all-posts {
  color: #141d27;
}
.search__input-block {
  margin-right: 16px;
  height: 16px;
  position: relative;
}

.input-block {
  transition: all 0.5s ease;
}
.input-block__container {
  width: 200px;
}
.input-block__dandruff {
  fill: #303131;
  position: absolute;
  top: 0;
}
.input-block__input {
  outline: none;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 20px;
  border: 0;
  border-radius: 0;
  padding: 1px 0 0 29px;
  font-size: 16px;
  background: transparent;
  transition: all 0.5s ease;
  display: inline-block;
  color: #303131;
  padding-right: 20px;
  font-weight: 300;
}
.input-block__input::placeholder {
  color: #bdb6b6;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
}
.input-block__underline {
  height: 1px;
  background-color: #303131;
  transition: all 0.5s ease;
  opacity: 0.5;
  margin-top: 3px;
}
.input-block__btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto -5px auto 0;
  border: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  outline: none;
}
.input-block__cross {
  fill: #303131;
  opacity: 0.8;
}

.post {
  width: 100%;
  padding: 16px;
}
.post__wrapper {
  display: flex;
  height: 351px;
}
.post__img-block {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  position: relative;
}
.post__img-block_holiday {
  background: url("../img/blog-holiday.png") 50%/cover no-repeat;
}
.post__img-block_backdrops {
  background: url("../img/blog-backdrops.png") 50%/cover no-repeat;
}
.post__img-block_drip {
  background: url("../img/blog-drip.png") 50%/cover no-repeat;
}
.post__img-block_styling {
  background: url("../img/blog-styling.png") 50%/cover no-repeat;
}
.post__img-block_sizzle {
  background: url("../img/blog-sizzle.png") 50%/cover no-repeat;
}
.post__img-block_eating {
  background: url("../img/blog-eating.png") 50%/cover no-repeat;
}
.post__img-link {
  position: absolute;
  width: 100%;
  height: 100%;
}
.post__img {
  display: block;
  width: 100%;
}
.post__description {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 48px 37px;
  background-color: #fff;
}
.post__header-and-text {
  display: flex;
  flex-direction: column;
}

.publication-info {
  display: flex;
  align-items: center;
  height: 34px;
}
.publication-info__wrapper {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}
.publication-info__icon {
  width: 32px;
  height: 32px;
  background: url("../img/blog-icon-i.png") 50%/cover no-repeat;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.publication-info__block {
  padding-left: 10px;
  font-size: 12px !important;
  display: flex;
  flex-direction: column;
}
.publication-info__author {
  height: 19px;
}
.publication-info__share {
  width: 24px;
  height: 24px;
  margin: 0 -9px 0 0;
}

.author {
  display: flex;
  align-items: center;
}
.author__name {
  font-weight: normal;
}
.author__icon {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.author__svg {
  fill: #303131;
}

.time {
  display: flex;
  align-items: center;
  opacity: 0.8;
  font-weight: normal;
}
.time__separator {
  background-color: #303131;
  width: 2px;
  height: 2px;
  margin: 0 8px;
  border-radius: 50%;
  display: flex;
  align-self: center;
}

.share {
  display: flex;
  justify-content: center;
}
.share__btn {
  font-size: 0;
  border: none;
  background: transparent;
  outline: none;
}
.share__svg {
  fill: #303131;
}

.publication-text {
  margin-top: 18px;
}
.publication-text__header {
  font-family: "Cinzel", serif;
  font-size: 28px;
  color: #303131;
  font-weight: normal;
  line-height: normal;
}
.publication-text__content {
  color: #303131;
  margin-top: 12px;
  line-height: 1.5rem;
  opacity: 0.9;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.publication-footer__line {
  width: 100%;
  height: 1px;
  background-color: #303131;
  opacity: 0.2;
  margin-bottom: 15px;
}
.publication-footer__activity {
  display: flex;
  justify-content: space-between;
  height: 18px;
  font-size: 12px;
  font-weight: normal;
}
.publication-footer__views-comments {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0.9;
}
.publication-footer__comments {
  margin-left: 16px;
  color: #303131;
}
.publication-footer__likes {
  display: flex;
  align-items: center;
}
.publication-footer__likes-count {
  padding-right: 5px;
}
.publication-footer__like-btn {
  font-size: 0;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.publication-footer__svg {
  fill: transparent;
  stroke: #e84a43;
  stroke-width: 1.5px;
}

/*# sourceMappingURL=blog.css.map */
