* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Nunito", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #303131;
}

body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
button,
input,
svg,
span {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.page {
  width: 100%;
}
.page-wrapper {
  max-width: 1920px;
  height: auto;
  margin: 0 auto;
}
.page__header {
  width: 100%;
  height: 103px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  z-index: 1;
}
.page__content {
  width: calc(100% - 160px);
  height: auto;
  margin: 0 auto;
  margin-top: 103px;
}
.page__footer {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #fff;
}
.header__signature {
  height: 40px;
  min-height: 36px;
  width: 144px;
  margin-top: 42px;
  margin-left: 80px;
}
.header__nav-up {
  width: 754px;
  height: 50px;
  margin-top: 31px;
  margin-right: 48px;
}

.signature__link {
  font-size: 26px;
  line-height: 40px;
  font-family: "Cinzel", serif;
  color: #303131;
  letter-spacing: 6px;
  width: 100%;
  text-transform: uppercase;
}

.nav-up__list {
  height: 100%;
  width: 100%;
  display: flex;
}
.nav-up__item {
  flex-grow: 1;
}
.nav-up__link {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  display: block;
  width: 100%;
  line-height: 50px;
  color: #303131;
  height: 100%;
  text-align: center;
  transition: color 0.4s ease 0s;
}
.nav-up__link:hover {
  color: #8b98a7;
}
.nav-up__link_home {
  color: #8b98a7;
}
.nav-up__link_portfolio-page {
  color: #8b98a7;
}
.nav-up__link_about-page {
  color: #8b98a7;
}
.nav-up__link_books-page {
  color: #8b98a7;
}
.nav-up__link_blog {
  color: #8b98a7;
}

.view-button {
  height: 40px;
}
.view-button__link {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}
.view-button__link:hover {
  background-color: #273a4e;
  border-color: #273a4e;
}
.view-button__link_buy {
  border: 1px solid #303131;
  color: #141d27;
  transition: color 0.4s ease 0s, border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}
.view-button__link_buy:hover {
  color: #fff;
}

.footer {
  padding: 50px 0 25px;
}
.footer__social-bar {
  width: 168px;
  height: 24px;
  margin: 0 auto;
}
.footer__copyright {
  width: 740px;
  margin: 15px auto 0;
}

.social-bar__list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.social-bar__item {
  width: 24px;
  height: 24px;
  margin-right: 24px;
}
.social-bar__item:last-child {
  margin-right: 0;
}
.social-bar__link {
  display: block;
  width: 100%;
}
.social-bar__img {
  display: block;
  width: 100%;
}

.copyright__note {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  width: 100%;
  text-align: center;
  color: #303131;
  line-height: 24px;
}
.copyright__link {
  color: #000;
}

.common-title {
  width: 100%;
  height: 114px;
  display: flex;
  align-items: center;
}
.common-title__title {
  font-size: 40px;
  line-height: 48px;
  font-family: "Cinzel", serif;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.content__inscription-block {
  width: 100%;
  min-width: 980px;
  min-height: 900px;
  position: relative;
}

.inscription-block {
  background: url("../img/main-bgd-1506x900.png") center center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inscription-block__title {
  color: #fff;
  font-size: 70px;
  font-family: "Cinzel", serif;
  letter-spacing: 7px;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 1;
}
.inscription-block__subtitle {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 20px;
  letter-spacing: 11px;
  text-transform: uppercase;
  z-index: 1;
}
.inscription-block__view-button {
  height: 40px;
  min-height: 22px;
  width: 142px;
  z-index: 1;
  margin-top: 36px;
}

.filter {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.35;
  background-color: #273a4e;
}

.content__portfolio {
  width: 100%;
  min-width: 980px;
}

.portfolio__block {
  width: 100%;
  min-height: 869px;
  display: grid;
  grid-template-columns: repeat(3, minmax(318px, 1fr));
  grid-column-gap: 11px;
}
.portfolio__item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.portfolio__item:nth-child(1) {
  background: url("../img/portfolio-left-img.png") center center/cover no-repeat;
}
.portfolio__item:nth-child(2) {
  background: url("../img/food-and-serv.png") center center/cover no-repeat;
}
.portfolio__item:nth-child(3) {
  background: url("../img/baked-goods.png") center center/cover no-repeat;
}
.portfolio__filter {
  opacity: 0.23;
}
.portfolio__inscription {
  color: #fff;
  font-size: 40px;
  line-height: 54px;
  font-family: "Cinzel", serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 331px;
  z-index: 1;
}
.portfolio__view-button {
  width: 110px;
  margin-top: 19px;
  z-index: 1;
}

.content__about {
  width: 100%;
  height: auto;
  min-width: 980px;
  height: 884px;
}

.about {
  display: flex;
}
.about__left-block {
  width: 100%;
  flex-grow: 1;
}
.about__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 100%;
}
.about__right-block {
  width: 100%;
  flex-grow: 1;
}

.right-block {
  background-color: #f0f3f6;
}
.right-block__container {
  width: 425px;
  height: 100%;
  margin-left: calc((100% - 490px) * 0.5);
  position: relative;
  left: 18px;
}
.right-block__title {
  font-size: 40px;
  line-height: 48px;
  font-family: "Cinzel", serif;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 156px;
  margin-bottom: 27px;
}
.right-block__paragraph {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 1.5rem;
}
.right-block__subtitle {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5rem;
}
.right-block__subtitle_education {
  margin-top: 49px;
  margin-bottom: 13px;
}
.right-block__subtitle_awards {
  margin-top: 59px;
  margin-bottom: 12px;
}

.content__books {
  width: 100%;
  min-width: 980px;
}

.books__goods {
  width: 100%;
  height: 720px;
  margin-top: 15px;
  background-color: #f0f3f6;
  position: relative;
}
.books__goods:nth-child(2) {
  margin-top: 0;
}

.goods__container {
  width: 438px;
  height: 100%;
  position: relative;
  left: 35px;
  margin-left: calc((100% - 980px) * 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.goods__title {
  font-family: "Cinzel", serif;
  font-size: 4rem;
  font-weight: normal;
  line-height: 4.4rem;
  color: #141d27;
}
.goods__description {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  width: 355px;
  margin-top: 20px;
  line-height: 1.5rem;
}
.goods__price-container {
  margin-top: 28px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.goods__price {
  font-family: "Cinzel", serif;
  font-size: 4rem;
  letter-spacing: 0.1em;
  color: #141d27;
}
.goods__currency {
  font-family: "Cinzel", serif;
  font-size: 1.5rem;
  color: #141d27;
  position: absolute;
  top: 0;
  left: 85px;
}
.goods__view-button {
  width: 135px;
  margin-left: 122px;
}
.goods__img-block {
  width: 600px;
  height: 438px;
  position: absolute;
  margin: 141px 0px 0px calc((100% - 980px) * 0.5);
  left: 478px;
  top: 0;
}
.goods__img {
  object-position: 50% 50%;
  width: 600px;
  height: 438px;
  object-fit: cover;
}

.content__blog {
  width: 100%;
  min-width: 980px;
}

.blog__container {
  width: 100%;
  background-color: #f0f3f6;
}
.blog__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin: 0 auto;
  max-width: 980px;
  padding: 0 20px;
}

.search__all-posts {
  color: #141d27;
}
.search__input-block {
  width: 200px;
  margin-right: 16px;
  height: 16px;
  position: relative;
}

.input-block {
  transition: all 0.5s ease;
}
.input-block__dandruff {
  fill: #303131;
}
.input-block__input {
  outline: none;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  border: 0;
  border-radius: 0;
  padding: 1px 0 0 29px;
  font-size: 14px;
  font-weight: 500;
  background: transparent;
  transition: all 0.5s ease;
  display: inline-block;
  color: #303131;
  padding-right: 20px;
  font: normal normal normal 16px/1.4em "Nunito", sans-serif;
}
.input-block__input::placeholder {
  color: #bdb6b6;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
}
.input-block__btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto -5px auto 0;
  border: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  outline: none;
}
.input-block__cross {
  fill: #303131;
}

/*# sourceMappingURL=index.css.map */
