//--------------------------------ARROW TO UP--------------------------------------------------------------------------------------------

.arrow-up.arrow-up_hidden
  button.arrow-up__btn
    svg.arrow-up__img
      use(xlink:href='../../images/sprite.svg#button-to-up')