//--------------------------------ARROW TO UP--------------------------------------------------------------------------------------------

.arrow-up.arrow-up_hidden
  button.arrow-up__btn
    svg#Layer_1.arrow-up__img(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 338.352 338.352', style='enable-background: new 0 0 338.352 338.352;', xml:space='preserve')
      g
        g
          path.arrow-up__path-arrow(d='M251.485,191.71l-73.278-73.279c-4.472-4.472-11.267-4.472-15.825,0l-74.396,74.396c-4.472,4.472-4.472,11.267,0,15.825    c2.236,2.236,4.472,3.355,7.913,3.355c2.236,0,5.677-1.118,9.03-4.472l65.365-65.365l65.365,65.365    c4.472,4.472,11.267,4.472,15.825,0C255.957,203.064,255.957,196.269,251.485,191.71z')
